@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=New+Rocker&display=swap');

/*corpo*/
body{
    background-color: #fa0303; 
    color: #e2f106;
    font-family:  "Aldrich", sans-serif;
}

.conteudo{
    margin: 10px;
}

/*imagem do cadeado*/
.imagem{
    width: 5%;
    margin: 1em 0 0 4em;
}