@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=New+Rocker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Jersey+25+Charted&display=swap');
:root{
    --cor-de-fundo: #fa0303; 
    --cor-da-letra: #e2f106;
    --fundo-senha: #c70000; 
    --fundo-texto: #c70000; 
    --borda: #e2f106;
    --fonte:"Aldrich", sans-serif;
    --fonte2: "Jaro", sans-serif;
}

/*corpo*/
body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-da-letra);
    font-family: var(--fonte);
}

/* primeira classe, tudo */
.conteudo{
    margin: 30px; /*margem dos lados*/
}

/*imagem do cadeado*/
.imagem{
    width: 7%;
    margin: 0 2em 0 2em; /*sentido horário*/
    justify-content: center; /*alinhar os elementos*/
}

/*imagem do super mário*/
.supermário{
    width:3%;
}

/*O MELHOR GERADOR DE SENHAS!*/
.titulo-principal{
    text-align: center; /*alinhamento do texto*/
    width: 95%;
    font-size: 35px;
    font-family: var(--fonte2);
}

/*Gere instantaneamente uma senha totalmente aleatória e estupidamete segura!*/
.titulo-secundario{
    text-align: center; /*alinhamento do texto*/
    width: 98%;
    margin: 0 0 0 3px;
    font-size: 25px;
}

/*primeira div*/
.conteudo-titulo{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 10px;
    justify-content: center; /*alinhar os elementos, esquerda e direita*/
    align-items: center; /*alinhar os elementos, teto e chão*/
    text-align: center;
    margin-top: 80px;
} 

/*parte onde coloca senha*/
.conteudo-senha{
    margin-top: 50px;
    background: var(--fundo-senha);
    align-items: center;
    padding: 10px;/*tamanho da margin dos lados*/
    font-size: 18px;
}

#campo-senha{
    background-color: var(--fundo-senha);
    border-color: #e2f106;
    color: var(--cor-da-letra);
    width: 80%;
    font-size: 20px;
}

#campo-senha:focus{
 outline: none;
}


.parametro{
    background-color: var(--fundo-texto);
    border: 2px solid var(--borda);
    margin-top: 30px;
    padding: 10px;
}

.parametro-titulo{
    font-family: var(--fonte);
    font-size: 21px;
}