@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=New+Rocker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Jersey+25+Charted&display=swap');
:root{
    --cor-de-fundo: #fa0303; 
    --cor-da-letra: #e2f106;
    --fundo-senha:  #940000;
    --fundo-texto: #c00303; 
    --bordaamarela: #e2f106;
    --bordaverde: #369908;
    --fonte:"Aldrich", sans-serif;
    --fonte2: "Jaro", sans-serif;
}

/* pra texto pequeno usa p*/

/*corpo*/
body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-da-letra);
    font-family: var(--fonte);
}

/* primeira classe, tudo */
.conteudo{
    margin: 30px; /*margem dos lados*/
}

/*imagem do cadeado*/
.imagem{
    width: 9%;
    margin: 0 2em 0 2em; /*sentido horário*/
    justify-content: center; /*alinhar os elementos*/
}

/*O MELHOR GERADOR DE SENHAS!*/
.titulo-principal{
    text-align: center; /*alinhamento do texto*/
    width: 95%;
    font-size: 35px;
    font-family: var(--fonte2);
}

/*Gere instantaneamente uma senha segura com os irmãos Bros!*/
.titulo-secundario{
    text-align: center; /*alinhamento do texto*/
    width: 98%;
    margin: 0 0 7px 0;
    font-size: 25px;
}
/*classe do supermário*/
.supermario{
    width: 12%;
}

/*classe do luigi*/
.luigi{
    width: 12%;
}

/*classe do toad*/
.toad{
    width: 3%;
}

/*primeira div*/
.conteudo-titulo{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 10px;
    justify-content: center; /*alinhar os elementos, esquerda e direita*/
    align-items: center; /*alinhar os elementos, teto e chão*/
    text-align: center;
} 

/*parte onde coloca senha*/
.conteudo-senha{
    background: var(--fundo-senha);
    align-items: center;
    padding: 15px;/*tamanho da margin dos lados*/
    font-size: 18px;
}

#campo-senha{
    background-color: var(--fundo-senha);
    border:var(--fundo-senha);
    color: var(--cor-da-letra);
    width: 86%;
    font-size: 16px;
}

#campo-senha:focus{
 outline: none;
}

/*tudo q começa com parametro ta dentro*/
.parametro{
    background-color: var(--fundo-senha);
    border: 4px solid var(--bordaamarela);
    margin-top: 20px;
    padding: 10px;
}

/*Personalize sua senha! 🍄*/
.parametro-titulo{
    font-family: var(--fonte);
    font-size: 21px;
}

.parametro-senha{
    width: 27%;
    margin: 0 auto;
    border: 2px solid var(--bordaamarela);
}

/*retangulo inteiro com as 3 áreas*/
.parametro-coluna-senha{
    display: flex; /*pode mexer nas coisas*/
    flex-direction: row; /*alinhado em linha*/
    justify-content: center;
}

/*a mesma classe pros 3 títulos*/
.parametro-senha-titulo{
   font-size: 16px;
   width: 90%;
   margin: 7px;
   padding: 5px 6px 10px 5px;
}

/*todos os botoes*/
.parametro-senha-botoes{
display: flex;
justify-content: center;
}

/*quantidade de caracteres*/
.parametro-senha-texto{
padding: 7px;
border-top: 2px solid var(--bordaamarela); /*borda de cima*/
border-bottom: 2px solid var(--bordaamarela); /*borda de baixo*/
border-color: var(--bordaamarela);
margin: 0;
}

/*botão - e + */
.parametro-senha-botao{
background-color: var(--bordaamarela);
border-top: 2px solid var(--bordaamarela);
border-bottom: 2px solid var(--bordaamarela);
border-color: var(--bordaamarela);
padding: 7px;
font-size: 15px;
cursor: pointer;
}

label {
    font-size: 17px;
}

.checkbox {
    cursor: pointer;
    height: 15px;
    width: 9%;
}

.barra{
    height: 24px; /*altura*/
    background-color: #7e0000;
    width: 90%; /*largura*/
    margin-left: 16px;
}

.parametro-senha-textos{
    display: flex;
    justify-content: space-between;
}

.fraca{
    height: 24px; /*altura*/
    width: 30%;
    background-color: #fa0303;
    position: relative;
    bottom: 24px;
    margin-left: 16px;
}

.media{
    height: 24px; /*altura*/
    width: 60%;
    background-color: #e2f106;
    position: relative;
    bottom: 24px;
    margin-left: 16px;
}

.forte{
    height: 24px; /*altura*/
    width: 90%;
    background-color:  #369908;
    position: relative;
    bottom: 24px;
    margin-left: 16px;
}




